extends layout

block content
	ul.entries
		for entry in entries
			li
				span.name #{entry.name}
				span.surname #{entry.surname}
				span.number #{entry.number}
				a(href='/edit/#{entry._id}', class='edit') edit
				a(href='/delete/#{entry._id}', class='delete') delete
		else
			li no entries yet!