extends layout

block content
	nav.menu
		a(href='/') home
		a(href='/add') add
		a(href='#', class='search-toggle') search
		input(type='text', class='search-input', placeholder='search by name or number')
	ul.entries
		for entry in entries
			li
				span.name #{entry.name}
				span.surname #{entry.surname}
				span.number #{entry.number}
				a(href='/edit/#{entry._id}', class='edit') edit
				a(href='/delete/#{entry._id}', class='delete') delete
		else
			li no entries yet!